.react-select-container .react-select__control,
.react-select-container .react-select__value-container,
.react-select-container .react-select__input,
.react-select-container .react-select__single-value,
.react-select-container .react-select__menu,
.react-select-container .react-select__option {
    font-size: 14px;
}

.box-container {
    display: flex;
    flex-direction: row;
    /* Arrange boxes horizontally */
    align-items: flex-start;
    /* Align boxes to the top */
    flex-wrap: wrap;
    /* This will allow the boxes to wrap */
}

.box {
    /* ... your existing box styles ... */
    margin-left: 20px;
    /* Add left margin to create gaps */
}

.box:first-child {
    /* Remove the left margin from the first box */
    margin-left: 0;
}

/* Width adjustments (optional) */
.box1 {
    width: 800px;
    /* Example for first box */
}

.box2 {
    width: 100px;
    /* Example for second box */
}

.box3 {
    width: 100px;
    /* Example for third box */
}

.form-group label,
/* Targets all labels within .form-group */
.dropdown-item label {
    /* Targets labels within .dropdown-item */
    font-size: 16px;
    /* Adjust this to match the dropdown font size */
}

/* Adjust Dropdown Width */
.react-select-container {
    width: 100%;
    margin-bottom: 10px;
    /* Adjust spacing as needed */
}


/* Example media query for responsiveness */
@media (max-width: 768px) {
    .box-container {
        flex-direction: column;
        /* Stack boxes vertically on small screens */
    }

    .box {
        margin-left: 0;
        /* Remove left margins on small screens */
        margin-top: 20px;
        /* Add top margin instead */
    }

    .box:first-child {
        margin-top: 0;
        /* Remove top margin from the first box on small screens */
    }
}