.form-group {
    margin-bottom: 0.5rem;
    width: 100%;
    /* Ensure the form group takes full width */
}

.form-group label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.form-group .ind-menu {
    font-weight: normal;
}

.form-control {
    width: 100%;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
}

.dropdown-row {
    display: flex;
    gap: 0rem;
}

.react-select-container {
    flex: 1;
    min-width: 300px;
    /* Adjust this value to make the dropdowns wider */
    margin-bottom: 0.5rem;
    width: 100%;
    /* Ensure the dropdown takes full width */
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    width: 100%;
    /* Ensure the container takes full width */
}