.form-group {
    display: flex;
    align-items: center;
    /* Center align the items vertically */
    margin-bottom: 0rem;
}

.form-group label {
    flex-shrink: 0;
    /* Prevent the label from shrinking */
    white-space: nowrap;
    /* Prevent the label from breaking into multiple lines */
    margin-right: 5px;
    /* Add some space between the label and the dropdown */
}

.react-select-container {
    flex-grow: 1;
    /* Allow the dropdown to take up the remaining space */
    min-width: 200px;
    /* Set a minimum width for the dropdown */
    width: 100%;
}

.standard-width {
    max-width: 300px;
    /* Adjust the value as needed */
    width: 100%;
}

.react-select__control {
    width: 100%;
}