.emr-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* Ensure columns start from the left */
    align-items: flex-stretch;
    /* Align items to the start */
    gap: 6rem;
    /* Adjust gap between columns as needed */
}

.emr-column {
    flex: 1 1 30%;
    /* Adjust the flex-grow, flex-shrink, and flex-basis properties for flexibility */
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    /* Adjust the gap between dropdowns */
    min-width: 400px;
    /* Ensure each column has a minimum width */
}

.emr-container {
    max-width: 100px;
    /* Adjust the max-width as needed */
    width: 100%;
    margin: auto;
    /* Center the container */
}

.number-dropdown,
.select-dropdown,
.custom-dropdown {
    width: 100%;
    /* Ensure dropdowns take full width of the container */
    padding: 0.25rem;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    /* Reduce the vertical margin between dropdowns */
}

.form-group {
    margin-bottom: 0.2rem;
    /* Reduce the margin-bottom to decrease vertical spacing */
}

.react-select-container {
    margin-bottom: 0.1rem;
    /* Reduce the margin-bottom to decrease vertical spacing */
}