.emr-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.emr-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    margin: 0rem 4rem;
    /* Adjust the margin to control space between columns */
}

.emr-container {
    max-width: 900px;
    /* Adjust the max-width as needed */
    margin: auto;
}

.number-dropdown,
.select-dropdown,
.custom-dropdown {
    width: 100%;
    /* Ensure dropdowns take full width of the container */
    padding: 0.14rem;
    font-size: 0.875rem;
    margin-bottom: 0.1rem;
    /* Reduce the vertical margin between dropdowns */
}

.form-group {
    margin-bottom: 0.5rem;
    /* Reduce the margin-bottom to decrease vertical spacing */
}

.react-select-container {
    margin-bottom: 0.5rem;
    /* Reduce the margin-bottom to decrease vertical spacing */
}