.react-select-container .react-select__control,
.react-select-container .react-select__value-container,
.react-select-container .react-select__input,
.react-select-container .react-select__single-value,
.react-select-container .react-select__menu,
.react-select-container .react-select__option {
    font-size: 14px;
}

.hpf-box-container {
    display: flex;
    flex-direction: row;
    /* Arrange boxes horizontally */
    align-items: flex-start;
    /* Align boxes to the top */
    flex-wrap: wrap;
    /* This will allow the boxes to wrap */
}

.hpf-box {
    padding: 5px 5px 5px 5px;
    /* Adjust as needed */
    margin-left: 10px;
    /* Add left margin to create gaps */
}

.hpf-box:first-child {
    /* Remove the left margin from the first box */
    margin-left: 0;
}

/* Width adjustments (optional) */
.hpf-box1 {
    width: 520px;
    /* Example for first box */
}

.hpf-box2 {
    width: 520px;
    /* Example for second box */
}

.hpf-box3 {
    width: 520px;
    /* Example for third box */
}


.hpf-box4 {
    width: 520px;
    /* Example for second box */
}

.hpf-box5 {
    width: 520px;
    /* Example for third box */
}

/* Example media query for responsiveness */
@media (max-width: 768px) {
    .hpf-box-container {
        flex-direction: column;
        /* Stack boxes vertically on small screens */
    }

    .hpf-box {
        margin-left: 0;
        /* Remove left margins on small screens */
        margin-top: 20px;
        /* Add top margin instead */
    }

    .hpf-box:first-child {
        margin-top: 0;
        /* Remove top margin from the first box on small screens */
    }
}