.pcc-form {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    /* Adjust gap between columns */
}

.container {
    max-width: 100px;
    /* Adjust based on your preference */
    margin: 0;
    padding: 1%;
    /* Add padding around the container */
}

.pcc-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* Adjust gap between items in each column */
}

.number-dropdown,
.select-dropdown,
.custom-dropdown {
    width: 100%;
    box-sizing: border-box;
}