pcc-form {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
}

.container {
    max-width: 900px;
    margin: auto;
}

.pcc-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.number-dropdown,
.select-dropdown {
    width: 100px;
    /* Adjust the width as needed */
}

pcc-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pcc-form .column {
    flex: 1;
    margin: 0 1rem;
}

.pcc-form .number-dropdown,
.pcc-form .select-dropdown {
    padding: 0.25rem;
    font-size: 0.875rem;
    /* Smaller font size */
}