.pf-box-container {
    display: flex;
    flex-direction: row;
    /* Arrange boxes horizontally */
    align-items: flex-start;
    /* Align boxes to the top */
    flex-wrap: wrap;
    /* This will allow the boxes to wrap */
}

.pf-box {
    padding: 1px 1px 1px 1px;
    /* Adjust as needed */
    margin-left: 5px;
    /* Add left margin to create gaps */
}

.pf-box:first-child {
    /* Remove the left margin from the first box */
    margin-left: 0;
}

/* Width adjustments (optional) */
.pf-box1 {
    width: 510px;
    /* Example for first box */
}

.pf-box2 {
    width: 510px;
    /* Example for second box */
}

.pf-box3 {
    width: 510px;
    /* Example for third box */
}


.pf-box4 {
    width: 510px;
    /* Example for second box */
}

/* Example media query for responsiveness */
@media (max-width: 768px) {
    .pf-box-container {
        flex-direction: column;
        /* Stack boxes vertically on small screens */
    }

    .pf-box {
        margin-left: 0;
        /* Remove left margins on small screens */
        margin-top: 20px;
        /* Add top margin instead */
    }

    .pf-box:first-child {
        margin-top: 0;
        /* Remove top margin from the first box on small screens */
    }
}