/* src/components/SelectDropdown.css */
.react-select-container {
    width: 100%;
}

.react-select__control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
}

.react-select__placeholder {
    color: #6c757d;
}

.react-select__single-value {
    color: #495057;
}