.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.dropdown-row {
    display: flex;
    gap: 1rem;
}

.react-select-container {
    flex: 1;
    min-width: 200px;
    /* Adjust the minimum width as needed */
}