.form-group {
    margin-bottom: 0.5rem;
    /* Reduce the margin-bottom */
}

.form-group label {
    display: block;
    margin-bottom: 0.15rem;
    /* Reduce the margin-bottom */
    font-weight: bold;
}

.form-group .ind-menu {
    font-weight: normal;
}

.form-control {
    width: 100%;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
    /* Reduce the margin-bottom */
    font-size: 1rem;
}

.dropdown-row {
    display: flex;
    gap: 0rem;
    /* Space between dropdowns */
}

.react-select-container {
    flex: 1;
    min-width: 400px;
    /* Increased width to 400px */
    margin-bottom: 0.5rem;
}


/* Additional styles to ensure proper alignment */
.dropdown-container {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
    /* Adjust the gap between label and dropdown */
}