.App {
  text-align: center;
  font-size: calc(6px + 1vmin);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 10px;
  position: relative;
  /* Make App-main positioned relative */
}

.button-container {
  position: fixed;
  /* Make the position fixed */
  bottom: 0;
  /* Position at the bottom of the page */
  right: 0;
  /* Position at the right of the page */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 1rem;
  /* Add some space around the buttons */
}

.btn-primary {
  margin: 0.5rem 1;
  /* Adjust vertical margin between buttons */
  font-weight: bold;
}

.btn-secondary {
  margin: 0.5rem 1;
  /* Adjust vertical margin between buttons */
}

.emr-button-container {
  position: absolute;
  top: 100px;
  /* Adjust for the top margin of App-main */
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Media queries for button container */
@media (max-width: 768px) {
  .emr-button-container {}
}

/* Media queries for button container */
@media (max-width: 768px) {
  .pcc-button-container {}
}


/* Media queries for button container */
@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
    /* Stack buttons vertically on small screens */
    align-items: center;
  }

  .btn-primary {
    margin: 10px 0;
    /* Adjust margin for vertical stacking */
  }
}

.btn-primary,
.btn-secondary {
  margin: 0.24rem 1rem;
  /* Add right and left margins */
  width: 150px;
  /* Set a specific width */
  text-align: center;
  /* Center the text inside the button */
}