.App {
  text-align: center;
  font-size: calc(6px + 1vmin);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  /* Stack buttons vertically */
  align-items: flex-end;
  /* Align buttons to the right edge */
  margin-top: 1rem;
  /* Optional: Add some space above buttons */
}

.btn-primary {
  margin: 0.5rem 1;
  /* Adjust vertical margin between buttons */
}


/* Media queries for button container */
@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
    /* Stack buttons vertically on small screens */
    align-items: center;
  }

  .btn-primary {
    margin: 10px 0;
    /* Adjust margin for vertical stacking */
  }
}