.App {
  text-align: center;
  font-size: calc(6px + 1vmin);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 10px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  padding: 10px 0;
  margin: 0 auto;
  /* Center the button container */
}

.btn-primary {
  margin: 0 20px;
}

/* Media queries for button container */
@media (max-width: 768px) {
  .button-container {
    flex-direction: column;
    /* Stack buttons vertically on small screens */
    align-items: center;
  }

  .btn-primary {
    margin: 10px 0;
    /* Adjust margin for vertical stacking */
  }
}