.help-icon-container {
    display: inline-block;
    position: relative;
}

.help-icon {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    padding: 0.3em;
    cursor: pointer;
    margin-left: 0.5em;
    font-size: 1em;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 0.5em;
    border-radius: 0.3em;
    top: 1.5em;
    left: 0;
    z-index: 100;
    width: max-content;
    max-width: 800px;
    /* Increased max-width */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    /* Ensures long words break to the next line */
}