.summary-container {
    padding: 10px;
    background: #f9f9f9;
    border-radius: 8px;
    max-width: 2400px;
    margin: auto;
    margin-top: 80px;
    /* Adjust this value to create enough space below the header */
}

.summary-container h2 {
    margin-bottom: 20px;
}

.summary-container p {
    margin: 10px 0;
}

.summary-list {
    column-count: 6;
    column-gap: 5em;
}

.notes-container {
    border: 1px solid #ccc;
    padding: 1em;
    margin-top: 2em;
}